---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: true
    AfterControlStatement: Never
    AfterStruct: false
    AfterUnion: false
    AfterEnum: false
    AfterClass: false
    BeforeElse: false
    BeforeCatch: false
    IndentBraces: false
InsertBraces: true
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortEnumsOnASingleLine: false
PointerAlignment: Right
ColumnLimit: 120
PenaltyExcessCharacter: 1
Cpp11BracedListStyle: false
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeIsMainRegex: '$'
IncludeCategories:
    - Regex: '^<sys/'
      Priority: 3
    - Regex: '^<(arpa|net|netinet)/'
      Priority: 4
    - Regex: '^<linux/'
      Priority: 5
    - Regex: '^<'
      Priority: 2
    - Regex: '^"'
      Priority: 6